@charset "utf-8";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:'syht Normal';
}
//aotf
@font-face{
  font-family:'aotf Bold';
  src:url('@/static/fonts/aotf/A-OTF-CapieNStd-Bold.otf');
  font-style: normal;
}
@font-face{
  font-family:'aotf Heavy';
  src:url('@/static/fonts/aotf/A-OTF-CapieNStd-Heavy.otf');
  font-style: normal;
}
@font-face{
  font-family:'aotf Light';
  src:url('@/static/fonts/aotf/A-OTF-CapieNStd-Light.otf');
  font-style: normal;
}
@font-face{
  font-family:'aotf Medium';
  src:url('@/static/fonts/aotf/A-OTF-CapieNStd-Medium.otf');
  font-style: normal;
}
@font-face{
  font-family:'aotf Regular';
  src:url('@/static/fonts/aotf/A-OTF-CapieNStd-Regular.otf');
  font-style: normal;
}
@font-face{
  font-family:'aotf Ultra';
  src:url('@/static/fonts/aotf/A-OTF-CapieNStd-Ultra.otf');
  font-style: normal;
}

//江城圆体
@font-face{
  font-family:'jcyt 300';
  src:url('@/static/fonts/jcyt/jcyt300W.ttf');
  font-style: normal;
}
@font-face{
  font-family:'jcyt 400';
  src:url('@/static/fonts/jcyt/jcyt400W.ttf');
  font-style: normal;
}
@font-face{
  font-family:'jcyt 500';
  src:url('@/static/fonts/jcyt/jcyt500W.ttf');
  font-style: normal;
}
@font-face{
  font-family:'jcyt 600';
  src:url('@/static/fonts/jcyt/jcyt600W.ttf');
  font-style: normal;
}
@font-face{
  font-family:'jcyt 700';
  src:url('@/static/fonts/jcyt/jcyt700W.ttf');
  font-style: normal;
}

//思源黑体
@font-face{
  font-family:'syht Bold';
  src:url('@/static/fonts/syht/SourceHanSansCN-Bold.otf');
  font-style: normal;
}
@font-face{
  font-family:'syht ExtraLight';
  src:url('@/static/fonts/syht/SourceHanSansCN-ExtraLight.otf');
  font-style: normal;
}
@font-face{
  font-family:'syht Heavy';
  src:url('@/static/fonts/syht/SourceHanSansCN-Heavy.otf');
  font-style: normal;
}
@font-face{
  font-family:'syht Light';
  src:url('@/static/fonts/syht/SourceHanSansCN-Light.otf');
  font-style: normal;
}
@font-face{
  font-family:'syht Medium';
  src:url('@/static/fonts/syht/SourceHanSansCN-Medium.otf');
  font-style: normal;
}
@font-face{
  font-family:'syht Normal';
  src:url('@/static/fonts/syht/SourceHanSansCN-Normal.otf');
  font-style: normal;
}
@font-face{
  font-family:'syht Regular';
  src:url('@/static/fonts/syht/SourceHanSansCN-Regular.otf');
  font-style: normal;
}

//像素字体
@font-face{
  font-family:'xszt Regular';
  src:url('@/static/fonts/xszt/fusion-pixel.otf'),
  url('@/static/fonts/xszt/fusion-pixel.ttf'),
  url('@/static/fonts/xszt/fusion-pixel.woff2') format("woff2");
  font-style: normal;
}