body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #101011;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

#scene-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  position: absolute;
  bottom: -0.8rem;
  left: 50%;
  transform: translate(-50%, -50%);
	margin: .5em;
	border: solid .375em transparent;
	padding: calc(.375em + 2px);
  width: 13vh;
  min-width: 2.5em;
  height: 13vh;
  min-height: 2.5em;
	border-radius: 50%;
  box-shadow: inset 0 0 0 2.75px #a961b8;
  background: purple;
  color: white;
  background: 
linear-gradient(#523535, #211b20) padding-box,
		linear-gradient(#211b20, #523535) border-box;
	transition: .75s;
  cursor: pointer;
  opacity: 0.0;
  outline: solid 0 transparent;
}
	
button:hover {
  outline: solid 0 transparent;
  filter: saturate(120%) brightness(180%);
}
	
button:active {
  outline: solid 0 transparent;
	border-width: calc(.375em + 4px) .375em calc(.375em - 4px);
}

@media(max-width: 768px) {
  button {
    width: 5em;
    height: 5em;
  }
}